@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
  font-family: "Mak";
  src: url("../fonts/MAK-bold.woff") format('woff');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}